@model VillaNumber

<div class="w-100 card borderborder-0 p-4">
    <div class="card-header bg-success bg-gradiend m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Villa Number Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
    </div>
</div>
